body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.status-duel {
  color: rgb(0, 0, 0);
}

.status-win {
  color: green;
  font-size: large;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history {
  margin-top: 20px;
  background-color: #ddd;
}

.history button {
  border-radius: 0;
}

.history-item {
  background-color: #fff;
  max-width: max-content;
}